@use '../../sass/shared/mixins';

.sidebar {
  display: flex;

  
  padding-top: 91px;
  padding-left: 94px;
  padding-bottom: 91px;

  @media (max-width: 1200px) {
    background: url(../../images/background/back_for_tablet.png);
    background-position: 100% 100%;
    background-repeat: no-repeat;
    background-size: 350px 350px;
  }
  @media (min-width: 1200px) {
    width: 70%;
    padding-left: 40px;
    flex-direction: column;
  }
  @media (max-width: 480px) {
    flex-direction: column;
  }
}

// background-image: url(/static/media/bgi-ridesidebar-tabl-1x.fe7225d….webp);
//     background-position: 100% 100%;
//     background-repeat: no-repeat;
//     background-size: 350px 350px;

.box {
  display: flex;
}

// .item {
  
// }

.summary {
  margin-bottom: 40px;
  // @media (min-width: 1200px) {
  // }
}
.summary__title {
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.04em;
}

.summary__subtitle {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.04em;
  color: #9b9faa;
}

.summary__list,
.list,
.prodList {
  color: var(--seondary-text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.04em;
  width: 288px;

  @media (max-width: 1200px) {
    width: 185px;
    height: 170px;
    overflow: auto;
  }
}

.summary__listItem:not(:last-child),
.item:not(:last-child), 
.prodItem:not(:last-child) {
    margin-bottom: 10px;
  }
  
// .notRecommended {
  
// }
  





