@use '../../sass/shared/mixins';

.CalculatorPageWrapper {
  display: flex;
  align-items: baseline;

  @media (min-width: 1200px) {
    justify-content: space-between;
  }

  @media (max-width: 1200px) {
    flex-direction: column;
  }
}

.backgr {
  @media (min-width: 1200px) {
    background-image: linear-gradient(90deg, #fff 60%, #f0f1f3 0);
  }
}

.CalculatorLeftPart {
  padding-top: 150px;
  padding-left: 16px;
  padding-right: 139px;
  @media (min-width: 1200px) {
    padding-bottom: 90px;
  }
  @media (max-width: 1280px) {
    padding-left: 32px;
    padding-bottom: 48px;
    padding-top: 100px;
  }
  @media (max-width: 480px) {
    padding-top: 50px;
    padding-right: 0;
    padding-left: 10px;
  }
}

.text {
  font-size: 18px;
  line-height: 26px;
  line-height: 1.4;
  margin-bottom: 32px;
  font-family: 'Verdana';
  font-style: normal;
  font-weight: 700;
  max-width: 280px;

  @media (min-width: 768px) {
    font-weight: 700;
    font-size: 34px;
    line-height: 41px;
    max-width: 600px;
    margin-bottom: 68px;
  }
}
