@use '../../sass/shared/mixins';

.box {
  padding-top: 150px;
  width: 60%;
}

.LeftPartContainer {
  padding-left: 16px;
  padding-right: 139px;
}

.aside {
  width: 100%;
  background-color: rgba(240, 241, 243, 1);
  @include mixins.mq(desktop) {
    display: flex;
    height: 100vh;
    width: 40%;
  }
}

.DiaryPageWrapper {
  @include mixins.mq(desktop) {
    display: flex;
  }
}

.HeaderWrapper {
  @include mixins.mq(desktop) {
     background-image: linear-gradient(90deg, #fff 60%, #f0f1f3 0);
  }
}
